<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="http://www.thehindubusinessline.com/multimedia/dynamic/01327/LinkedIn-Logo_1327993f.jpg" alt="" width="200px">
    <p>Welcome to <b><%= title %></b></p>
    <p><a href="/login">Log in</a></p>
    <p>Not a member? <a href="/signup">Sign up here</a></p>
  </body>
</html>
