<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="http://www.freepnglogos.com/uploads/linkedin-logo-transparent-png-16.png" alt="" width="300px">
    <p>Welcome to <b><%= title %></b></p>
    <p><a href="/login"><b>Log in</b></a></p>
    <p class="sign">Not a member? <a href="/signup"><b>Sign up here</b></a></p>
  </body>
</html>
